/* App.css */
.container {
  max-width: 600px;
  margin: 0 auto;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 18px;
  margin: 10px 0;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}



